.App {
  color: white;
}

.App-header {
  padding-top: 20pt;
  text-align: center;
  font-size: calc(10px + 2vmin);
  position:relative;
}

.barchart {
  position:relative;
  margin-top: 40pt;
  width: 95%;
  height: 70vh;
}

.doughnut {
  margin-top: 40pt;
  width: 50vw;
  height: 50vh;
}

