.App {
  color: white
}

.App-header {
  padding-top: 20pt;
  text-align: center;
  font-size: calc(10px + 2vmin);
  position:relative;
}

.barchart {
  position:relative;
  margin-top: 40pt;
  width: 95%;
  /* width: 400px; */
  height: 70vh;
}

.doughnut {
  /* position:absolute;
  display: 'flex';*/
  margin-top: 40pt;
  /* margin-left: 40pt; */
  /* width: 400px; */
  width: 50vw;
  height: 50vh;
}

