@font-face {
  font-family: "FuturaPTBook";
  src: local("FuturaPTBook"),
   url("./fonts/FuturaPTBook.otf") format("opentype");
}


body {
  margin: 0;
  font-family: "FuturaPTBook";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: rgba(255, 255, 255, 0.897);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
